<% include ./partials/header %>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col s12 m4">
            <ul id="slide-out" class="sidenav sidenav-fixed">
                <li><a href="/"><i class="material-icons">wb_incandescent</i>Notes</a></li>
                <li><a href="#!"><i class="material-icons">notification_important</i>Reminders</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">LABELS</a></li> 
                <!-- <li><a href="#!"><i class="material-icons">label</i>Edit labels</a></li> -->
                <li><a href="#!"><i class="material-icons">colorize</i>Edit labels</a></li>
                <li><div class="divider"></div></li>
                <li><a href="#!"><i class="material-icons">archive</i>Archive</a></li>
                <li><a href="#!"><i class="material-icons">delete</i>Trash</a></li>
            </ul>
        </div>
        <div class="col s12 m8">
            <div class="container-notes">
            <div class="card note-form">
                <% include ./newNote.ejs %>
            </div>
            <div class="row" style="margin-top: 15px;">
                <% notes.forEach(function(note){%>
                    <div class="col s12 m4">
                        <div class="card" style="background-color: <%= note.color %>;">
                            <div class="card-image">
                                <img src="<%= note.image %>">
                            </div>
                            <div class="card-content">
                                <span class="card-title"><%= note.title %></span>
                                <p><%= note.text %></p>
                                <% if (note.label){ %>
                                    <div class="chip mt-2">
                                        <%= note.label %>
                                        <i class="close material-icons">close</i>
                                    </div>
                                <% }%>
                            </div>
                            <div class="card-action" >
                                <form action="/note/<%=note._id %>?_method=PUT"" method="POST" enctype="multipart/form-data">
                                    <input type="text" hidden name="pin" id="pinValue" value="<%= note.pinned %>" >
                                    <input type="text" hidden name="archive" id="archiveValue" value="<%= note.archive %>" >
                                    <a href="#" onclick="initColorPicker()" class="dropdown-trigger tooltipped"  data-target='dropdown1' data-position="bottom" data-tooltip="Change color">
                                        <i class="material-icons">color_lens</i>
                                    </a>
                                    <div class='dropdown-content' id='dropdown1' >
                                        <input name="color" hidden id="noteboxcolor" value="<%= note.colour %>" >
                                        <canvas id="colorCanvas" class="color-canvas" width="250" height="250" style="border-radius: 50%;"></canvas>
                                    </div>                                    
                                
                                    <label for="browse" class="tooltipped" data-position="bottom" data-tooltip="Add image" style="color: #ffab40; margin-right: 24px;">
                                        <i class="material-icons">add_photo_alternate</i>
                                    </label>
                                    <input type="file" id="browse" name="image" style="display: none">
                                    
                                    <a href="#" onclick="setPin()" class="tooltipped" data-position="bottom" data-tooltip="Pin note">
                                        <i class="material-icons">bookmark_border</i>
                                    </a>
                                    <a href="#" onclick="setArchive()" class="tooltipped" data-position="bottom" data-tooltip="Archive">
                                        <i class="material-icons">archive</i>
                                    </a>
                                    <a href="#" class="dropdown-trigger tooltipped"  data-target='dropdown2' data-position="bottom" data-tooltip="Add labels">
                                        <i class="material-icons">label</i>
                                    </a>
                                    <div class='dropdown-content' id='dropdown2' >
                                        <div class="input-field" style="width: 90%; margin:1rem">
                                            <input placeholder="label" name="label" type="text">
                                        </div>
                                    </div>
                                    <button class="waves-effect waves-teal btn-flat right">Close</button>
                                </form>
                                
                                <form action="/note/<%=note._id%>?_method=DELETE" method="POST" class="mt-1">
                                    <button class="waves-effect waves-light btn-small" class="tooltipped" data-position="bottom" data-tooltip="Delete">
                                        Delete
                                     </button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% });%>
            </div>
        </div>
        </div>
      </div>
</div>

<script>
    function setPin(){
        var pin=document.getElementById("pinValue");
        if(pin.value=="true") pin.value=false;
        else pin.value=true;
        console.log(pin.value);
    }
    function setArchive(){
        var archive=document.getElementById("archiveValue");
        if(archive.value=="true") archive.value=false;
        else archive.value=true;
        console.log(archive.value);
    }
    
function initColorPicker()
{
    var canvasEl = document.getElementById('colorCanvas');
    var noteColor = document.getElementById('noteboxcolor');
    var canvasContext = canvasEl.getContext('2d');
    var image = new Image(250, 250);
    console.log(image);
    image.onload = () => canvasContext.drawImage(image, 0, 0, image.width, image.height); 
    image.src = "/images/myColorPickerImage.png";

    canvasEl.onclick = function(mouseEvent) 
    {
      var imgData = canvasContext.getImageData(mouseEvent.offsetX, mouseEvent.offsetY, 1, 1);
      var rgba = imgData.data;

      noteColor.value=("rgba(" + rgba[0] + ", " + rgba[1] + ", " + rgba[2] + ")");
      console.log(noteColor.value);
    }
}
</script>

<% include ./partials/footer %>